

    <html> 
        <head></head>

              <style type="text/css">
               A {
                text-decoration: none; /* Убирает подчеркивание для ссылок */
               } 
                A:hover {

                text-decoration: underline;

                color: red

                }
              </style>
        
        <body>

        <br><br>



        
      
        <p align="center">Отчет активности за день по задачам JIRA отдела ДИТ-ЦЭИТИ-УТ-ОТ. Дата 2020-10-09 08:35:47.177534</p>
        
       
        <table border="1" bgcolor=wheat border-width="double" width=95% Align="center" style="border-color:black; border-style:double;font-size:12px" >
        <caption bgcolor="red">Всего назначено на отдел но не распределено на сотрудников 1 задач</caption>
         <thead>  
        <tr align="center">
        <th bgcolor="#ADDAF5">Назначены на сотрудника</th>
        <th bgcolor="#ADDAF5">Тип задач</th>
        <th bgcolor="#ADDAF5">Назначено задач</th>
        <th bgcolor="#ADDAF5">Взяты в работу</th>
        <th bgcolor="#ADDAF5">Сегодня Выполнены</th>
        <th bgcolor="#ADDAF5">Комментариев в задачах за сегодня</th>
        <th bgcolor="#ADDAF5">Задачи назначенные</th>
        <th bgcolor="#ADDAF5">Задачи в работе</th>
        <th bgcolor="#ADDAF5">Задачи Выполненные</th>
        <th bgcolor="#ADDAF5">Активности в задачах за сегодня</th>
        </tr>
         </thead>

        

        
          <tr>
           
           
         
           <td><font color="blue">"Колодин Борис Тимофеевич" </font> </td>
           <td><font color="blue">Задача </font></td>
              
          
          
            



                
                <td><font color="blue">3 </font></td>        
                




            



                
                <td><font color="blue">2 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-45158">
                                 <font  color="green">SD-45158 </font>
                               </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-38345">
                                 <font  color="green">SD-38345 </font>
                               </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-31504">                            
                                <font color="blue">SD-31504, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-45158">                             
                               <font color="green">SD-45158, </font>
                                </a>                               
                            

                   

                            
                               <a href="http://jira-new/browse/SD-31504">                             
                                <font color="blue">SD-31504, </font>
                                </a>                                

                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            

        </tr>

        
        
         <tr>
         <th bgcolor="#ADDAF5">   -     </th>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         </tr>
         
         

        
          <tr>
           
           
         
           <td><font color="blue">"Ермаков Евгений Сергеевич" </font> </td>
           <td><font color="blue">Подзадача </font></td>
              
          
          
            



                
                <td><font color="blue">2 </font></td>        
                




            



                
                <td><font color="blue">2 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-80224">                            
                                <font color="blue">SD-80224, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-76386">                            
                                <font color="blue">SD-76386, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-80224">                            
                                <font color="blue">SD-80224, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-76386">                            
                                <font color="blue">SD-76386, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            

        </tr>

        
           <td><font color="blue">"Ермаков Евгений Сергеевич" </font> </td>
           <td><font color="blue">Задача </font></td>
              
          
          
            



                
                <td><font color="blue">2 </font></td>        
                




            



                
                <td><font color="blue">2 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-63584">                            
                                <font color="blue">SD-63584, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-60549">                            
                                <font color="blue">SD-60549, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-63584">                            
                                <font color="blue">SD-63584, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-60549">                            
                                <font color="blue">SD-60549, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            

        </tr>

        
        
         <tr>
         <th bgcolor="#ADDAF5">   -     </th>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         </tr>
         
         

         
                
        
         </table>
         

        </body> 
    </html> 
    