

    <html> 
        <head></head>

              <style type="text/css">
               A {
                text-decoration: none; /* Убирает подчеркивание для ссылок */
               } 
                A:hover {

                text-decoration: underline;

                color: red

                }

                #blink {
                        -webkit-animation: blink 2s linear infinite; 
                        animation: blink 2s linear infinite; 
                        font-weight: bold; 
                        color: color: #F00; 
                }

                @-webkit-keyframes blink { 
                        0% { color: #F00; }
                        50% { color: #FBB; }
                        100% { color: #F00; }
                }

                @keyframes blink {  
                        0% { color: #F00; }
                        50% { color: #FBB; }
                        100% { color: #F00; } 
                }                                
              </style>
        
        <body>

        <br><br>



        
      
        <p align="center">Отчет активности за день по задачам JIRA отдела ДИТ-ЦЭИТИ-УТ-ОСИ. Дата 2020-10-09 08:32:35.018610</p>
        
       
        <table border="1" bgcolor=wheat border-width="double" width=95% Align="center" style="border-color:black; border-style:double;font-size:12px">
>
        <caption bgcolor="red">Всего назначено на отдел но не распределено на сотрудников 1 задач</caption>
         <thead>  
        <tr align="center">
        <th bgcolor="#ADDAF5">Назначены на сотрудника</th>
        <th bgcolor="#ADDAF5">Тип задач</th>
        <th bgcolor="#ADDAF5">Назначено задач</th>
        <th bgcolor="#ADDAF5">Взяты в работу</th>
        <th bgcolor="#ADDAF5">Сегодня Выполнены</th>
        <th bgcolor="#ADDAF5">Комментариев в задачах за сегодня</th>
        <th bgcolor="#ADDAF5">Задачи назначенные</th>
        <th bgcolor="#ADDAF5">Задачи в работе</th>
        <th bgcolor="#ADDAF5">Задачи Выполненные</th>
        <th bgcolor="#ADDAF5">Активности в задачах за сегодня</th>
        </tr>
         </thead>

        

        
          <tr>
           
           
         
           <td><font color="blue">"Мещеряков Сергей Сергеевич" </font> </td>
           <td><font color="blue">Подзадача </font></td>
              
          
          
            



                
                <td><font color="blue">2 </font></td>        
                




            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-80386">                            
                                <font color="blue">SD-80386, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-75501">                            
                                <font color="blue">SD-75501, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-75501">                             
                                <font color="blue">SD-75501, </font>
                                </a>                                

                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            

        </tr>

        
           <td><font color="blue">"Мещеряков Сергей Сергеевич" </font> </td>
           <td><font color="blue">Задача </font></td>
              
          
          
            



                
                <td><font color="blue">19 </font></td>        
                




            



                
                <td><font color="blue">11 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-80187">                            
                                <font color="blue">SD-80187, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-79713">                            
                                <font color="blue">SD-79713, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-77165">
                                 <font  color="green">SD-77165 </font>
                               </a>
                            

                   

                            
                               <a href="http://jira-new/browse/SD-73165">                            
                                <font color="blue">SD-73165, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-72778">                            
                                <font color="blue">SD-72778, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-72659">                            
                                <font color="blue">SD-72659, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-62992">                            
                                <font color="blue">SD-62992, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-61980">                            
                                <font color="blue">SD-61980, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-49426">                            
                                <font color="blue">SD-49426, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-44782">                            
                                <font color="blue">SD-44782, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42512">                            
                                <font color="blue">SD-42512, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42120">                            
                                <font color="blue">SD-42120, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42030">                            
                                <font color="blue">SD-42030, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42029">                            
                                <font color="blue">SD-42029, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-38307">                            
                                <font color="blue">SD-38307, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-38306">                            
                                <font color="blue">SD-38306, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-37040">                            
                                <font color="blue">SD-37040, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-36992">                            
                                <font color="blue">SD-36992, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-23511">                            
                                <font color="blue">SD-23511, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73165">                             
                                <font color="blue">SD-73165, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-72778">                             
                                <font color="blue">SD-72778, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-72659">                             
                                <font color="blue">SD-72659, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-62992">                             
                                <font color="blue">SD-62992, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42512">                             
                                <font color="blue">SD-42512, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42030">                             
                                <font color="blue">SD-42030, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-42029">                             
                                <font color="blue">SD-42029, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-38307">                             
                                <font color="blue">SD-38307, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-38306">                             
                                <font color="blue">SD-38306, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-37040">                             
                                <font color="blue">SD-37040, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-23511">                             
                                <font color="blue">SD-23511, </font>
                                </a>                                

                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            

        </tr>

        
        
         <tr>
         <th bgcolor="#ADDAF5">   -     </th>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         </tr>
         
         

        
          <tr>
           
           
         
           <td><font color="blue">"Берёзкин Денис Валерьевич" </font> </td>
           <td><font color="blue">Задача </font></td>
              
          
          
            



                
                <td><font color="blue">11 </font></td>        
                




            



                
                <td><font color="blue">8 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-80351">                            
                                <font color="blue">SD-80351, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-80211">                            
                                <font color="blue">SD-80211, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-79562">                            
                                <font color="blue">SD-79562, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-78114">                            
                                <font color=c77b00>SD-78114, </font>
                                </a>                                

                             

                   

                            
                               <a href="http://jira-new/browse/SD-76065">                            
                                <font color="blue">SD-76065, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-76029">                            
                                <font color="blue">SD-76029, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-73927">                            
                                <font color="blue">SD-73927, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-72860">                            
                                <font color="blue">SD-72860, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-54500">                            
                                <font color="blue">SD-54500, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-40856">                            
                                <font color="blue">SD-40856, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-37038">                            
                                <font color=c77b00>SD-37038, </font>
                                </a>                                

                             

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-80211">                             
                                <font color="blue">SD-80211, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-79562">                             
                                <font color="blue">SD-79562, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-78114">                             
                                <font color=c77b00>SD-78114, </font>
                                </a>
                             

                   

                            
                               <a href="http://jira-new/browse/SD-76029">                             
                                <font color="blue">SD-76029, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-72860">                             
                                <font color="blue">SD-72860, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-54500">                             
                                <font color="blue">SD-54500, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-40856">                             
                                <font color="blue">SD-40856, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-37038">                             
                                <font color=c77b00>SD-37038, </font>
                                </a>
                             

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            

        </tr>

        
           <td><font color="blue">"Берёзкин Денис Валерьевич" </font> </td>
           <td><font color="blue">Подзадача </font></td>
              
          
          
            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-79553">                            
                                <font color="blue">SD-79553, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            

        </tr>

        
        
         <tr>
         <th bgcolor="#ADDAF5">   -     </th>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         </tr>
         
         

        
          <tr>
           
           
         
           <td><font color="blue">"Михеев Андрей Олегович" </font> </td>
           <td><font color="blue">Задача </font></td>
              
          
          
            



                
                <td><font color="blue">8 </font></td>        
                




            



                
                <td><font color="blue">5 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-79988">                            
                                <font color="blue">SD-79988, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-79608">                            
                                <font color="blue">SD-79608, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-78646">                            
                                <font color=c77b00>SD-78646, </font>
                                </a>                                

                             

                   

                            
                               <a href="http://jira-new/browse/SD-78283">                            
                                <font color=c77b00>SD-78283, </font>
                                </a>                                

                             

                   

                            
                               <a href="http://jira-new/browse/SD-77717">                            
                                <font color="blue">SD-77717, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-74115">                            
                                <font color="blue">SD-74115, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-47354">                            
                                <font color="blue">SD-47354, </font>
                                </a>

                            

                   

                            
                               <a href="http://jira-new/browse/SD-24166">                            
                                <font color="blue">SD-24166, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-78646">                             
                                <font color=c77b00>SD-78646, </font>
                                </a>
                             

                   

                            
                               <a href="http://jira-new/browse/SD-78283">                             
                                <font color=c77b00>SD-78283, </font>
                                </a>
                             

                   

                            
                               <a href="http://jira-new/browse/SD-77717">                             
                                <font color="blue">SD-77717, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-47354">                             
                                <font color="blue">SD-47354, </font>
                                </a>                                

                            

                   

                            
                               <a href="http://jira-new/browse/SD-24166">                             
                                <font color="blue">SD-24166, </font>
                                </a>                                

                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            

        </tr>

        
           <td><font color="blue">"Михеев Андрей Олегович" </font> </td>
           <td><font color="blue">Подзадача </font></td>
              
          
          
            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                <td><font color="blue">1 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                <td><font color="blue">0 </font></td>        
                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73799">                            
                                <font color="blue">SD-73799, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   

                            
                               <a href="http://jira-new/browse/SD-73799">                            
                                <font color="blue">SD-73799, </font>
                                </a>

                            

                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            



                
                    <td>
                   
                   </td>


                




            

        </tr>

        
        
         <tr>
         <th bgcolor="#ADDAF5">   -     </th>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td> <td bgcolor="#ADDAF5"></td>
         </tr>
         
         

         
                
        
         </table>
         
        
        </body> 
    </html> 
    