     <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a data-toggle="tab" href="#home">Главная<span class="sr-only">(current)</span></a></li>
                    <li><a data-toggle="tab" href="#about">О нас</a></li>
                    <li><a data-toggle="tab" href="#blog">Блог</a></li>
                    <li><a data-toggle="tab" href="#portfolio">Портфолио</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="tab" href="#contact">Контакт</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <img src="images/heder.jpg" class="img-responsive" alt="....">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="home">
                        <h3>Главная</h3>
                        <p>Содержимое 1 панели...</p>
                    </div>
                    <div class="tab-pane" id="about">
                        <h3>О нас</h3>
                        <p>Содержимое 2 панели...</p>
                    </div>
                    <div class="tab-pane" id="blog">
                        <h3>Блог</h3>
                        <p>Содержимое 3 панели...</p>
                    </div>
                    <div class="tab-pane" id="portfolio">
                        <h3>Портфолио</h3>
                        <p>Содержимое 4 панели...</p>
                    </div>
                    <div class="tab-pane" id="contact">
                        <h3>Контакты</h3>
                        <p>Содержимое 5 панели...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>