<ul class="nav nav-pills" role="tablist">
              <li class="active"><a href="#home" role="tab" data-toggle="tab">Домашняя</a></li>
              <li><a href="#profile" role="tab" data-toggle="pill">Профиль пользователя</a></li>
              <li><a href="#message" role="pill" data-toggle="pill">Сообщения</a></li>
            </ul>
            <div class="tab-content"> 
	<div role="tabpanel" class="tab-pane fade" id="home">
            	<div class="wrap-admin-pills">....</div>
                </div>
	<div role="tabpanel" class="tab-pane fade" id="profile">
            	<div class="wrap-admin-pills">....</div>
                </div>
	<div role="tabpanel" class="tab-pane fade" id="message">
            	<div class="wrap-admin-pills"><form action="checkmsg.php"></form></div>
                </div>
</div>