<div id="nav">

  <!-- Вкладки -->
  <ul class="nav nav-tabs hidden-xs" role="tablist">
    <li class="active"><a href="#item1" data-toggle="tab">Пункт 1</a></li>
    <li><a href="#item2" data-toggle="tab">Пункт 2</a></li>
    <li><a href="#item3" data-toggle="tab">Пункт 3</a></li>
    <li><a href="#item4" data-toggle="tab">Пункт 4</a></li>
  </ul>

  <!-- Выпадающий список -->
  <div class="dropdown hidden-sm hidden-md hidden-lg">
      <button type="button" data-toggle="dropdown">
	Выберите значение из списка
	<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
	<li><a href="#item1">Пункт 1</a></li>
	<li><a href="#item2">Пункт 2</a></li>
	<li><a href="#item3">Пункт 3</a></li>
	<li><a href="#item4">Пункт 4</a></li>
      </ul>
  </div>

  <!-- Контент вкладок -->
  <div class="tab-content">
    <div class="tab-pane active" id="item1">Содержимое 1...</div>
    <div class="tab-pane" id="item2">Содержимое 2...</div>
    <div class="tab-pane" id="item3">Содержимое 3...</div>
    <div class="tab-pane" id="item4">Содержимое 4...</div>
  </div>

</div>